.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}
.wrapper .sidebar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  visibility: hidden;
  padding: 20px;
  background: url('./assets/images/BgContainer.png') no-repeat center bottom;
  background-size: cover;
}

.wrapper .sidebar-mask {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 5;
}

.wrapper .wrap {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  -o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  -moz-transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.open .wrap,
.open .sidebar-mask {
  opacity: .9;
  transform: translate3d(-58%, 0, 0) scale3d(1, 0.85, 1);
  -o-transform: translate3d(-58%, 0, 0) scale3d(1, 0.85, 1);
  -moz-transform: translate3d(-58%, 0, 0) scale3d(1, 0.85, 1);
  -ms-transform: translate3d(-58%, 0, 0) scale3d(1, 0.85, 1);
  -webkit-transform: translate3d(-58%, 0, 0) scale3d(1, 0.85, 1);
}

.open .sidebar {
  visibility: visible;
}
.open .sidebar-mask{
  visibility: visible;
}
.open .sidebar-wrapper{
  visibility: visible;
}
.open .wrap {
  background: #f2f2f4;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 3px;
}
/* Style and "hide" the sidebar */

.sidebar {
  visibility: hidden;
  position: absolute;
  top: 7.5%;
  left: 40%;
  width: 50%;
  height: 85%;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #fff;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
/* Sidebar content */

.sidebar a {
  font-weight: normal;
}
/* Sidebar nav */
.sidebar-nav {
  padding-left: 40px;
  padding-top: 124px;
}
.sidebar-nav-item {
  display: block;
  color: #fff;
  font-size: 34px;
  font-weight: normal;
  line-height: 34px;
  margin-bottom: 60px;
  &:active {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
}
.sidebar-nav-item span {
  color: #C0C0C8;
  font-size: 24px;
  margin-left: 16px;
}
.sidebar-nav-item-unsigned {
  display: block;
  color: #9D9DA3;
  font-size: 34px;
  font-weight: normal;
  line-height: 34px;
  margin-bottom: 60px;
  &:active {
    color: #9D9DA3;
  }
  &:hover {
    color: #9D9DA3;
  }
}
.sidebar-nav-item-tel {
  margin-top: 110px;
  display: block;
  font-weight: normal;
  .sidebar-nav-tel-title{
    height: 34px;
    display: block;
    font-size: 34px;
    line-height: 1;
    color: #F8F8F9;
    i{
      display: inline-block;
      width: 32px;
      height: 26px;
      /* background: url(../layouts/assets/IconPhone.png) no-repeat left center; */
      background-size: contain;
      margin-right: 8px;
    }
  }
  .sidebar-nav-tel-info{
    color: #B2B2BA;
    font-size: 20px;
    display: block;
    margin-top: 4px;
  }
  &:active {
    color: #9D9DA3;
  }
  &:hover {
    color: #9D9DA3;
  }
}
/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle-wrap {
  position: absolute;
  top:  0;
  right: 0;
  display: block;
  height: 80px;
  width: 80px;
  cursor: pointer;
}
.sidebar-toggle, .sidebar-share-toggle {
  position: absolute;
  top: 26px;
  right: 26px;
  display: block;
  color: #505050;
  cursor: pointer;
}

.sidebar-toggle:before {
  display: inline-block;
  width: 40px;
  height: 28px;
  content: "";
  background-image: -webkit-linear-gradient(to bottom, #fff, #fff 20%, #0d0510 20%, #0d0510 40%, #fff 40%, #fff 60%, #0d0510 60%, #0d0510 80%, #fff 80%, #fff 100%);
  background: -webkit-linear-gradient(90deg, #fff, #fff 20%, #0d0510 20%, #0d0510 40%, #fff 40%, #fff 60%, #0d0510 60%, #0d0510 80%, #fff 80%, #fff 100%);
  background-image:    -moz-linear-gradient(to bottom, #fff, #fff 20%, #0d0510 20%, #0d0510 40%, #fff 40%, #fff 60%, #0d0510 60%, #0d0510 80%, #fff 80%, #fff 100%);
  background-image:     -ms-linear-gradient(to bottom, #fff, #fff 20%, #0d0510 20%, #0d0510 40%, #fff 40%, #fff 60%, #0d0510 60%, #0d0510 80%, #fff 80%, #fff 100%);
  background-image:         linear-gradient(to bottom, #fff, #fff 20%, #0d0510 20%, #0d0510 40%, #fff 40%, #fff 60%, #0d0510 60%, #0d0510 80%, #fff 80%, #fff 100%);
}

.sidebar-share-toggle:before {
  display: inline-block;
  width: 40px;
  height: 28px;
  content: "";
  background-image: -webkit-linear-gradient(to bottom, #fff, #fff 20%, #1FCB99 20%, #1FCB99 40%, #fff 40%, #fff 60%, #1FCB99 60%, #1FCB99 80%, #fff 80%, #fff 100%);
  background: -webkit-linear-gradient(90deg, #fff, #fff 20%, #1FCB99 20%, #1FCB99 40%, #fff 40%, #fff 60%, #1FCB99 60%, #1FCB99 80%, #fff 80%, #fff 100%);
  background-image:    -moz-linear-gradient(to bottom, #fff, #fff 20%, #1FCB99 20%, #1FCB99 40%, #fff 40%, #fff 60%, #1FCB99 60%, #1FCB99 80%, #fff 80%, #fff 100%);
  background-image:     -ms-linear-gradient(to bottom, #fff, #fff 20%, #1FCB99 20%, #1FCB99 40%, #fff 40%, #fff 60%, #1FCB99 60%, #1FCB99 80%, #fff 80%, #fff 100%);
  background-image:         linear-gradient(to bottom, #fff, #fff 20%, #1FCB99 20%, #1FCB99 40%, #fff 40%, #fff 60%, #1FCB99 60%, #1FCB99 80%, #fff 80%, #fff 100%);
}

.sidebar-footer {
  width: 100%;
  height: 50px;
  padding-left: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.sidebar-footer p {
  height: 50px;
  line-height: 50px;
}
.sidebar-footer a {
  color: #fff;
  font-size: 34px;
}
.sea-mask {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(11,11,25,0.6);
  z-index: 2;
}
